/* Шрифт */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url('/barlow/Barlow-Regular.otf') format('truetype');
}

body {
  font-family: "Barlow", sans-serif;
}

/* форматирование полей ввода */
.form-row {
    width: 20%; 
    float: inline-start;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
/* Заголовок */
h1{
  font-size: 20px;
  padding-top: 80px;
  font-weight: 00;
}
/* Подзаголовок */
h2{
  padding-bottom: 40px;
  font-weight: normal; 
    font-size: medium;
}

/* Фоновая картинка */
.leftPhoto {
    float: left;
    margin: 4px 10px 2px 0px;
}
/* форматирование легенды */
legend { 
    margin: 1em;
    margin: -3px;
    font-size: 20px;
}
/* форматирование для or */
.with-line {
    display:contents;
  }
  
  .with-line:before,
  .with-line:after {
    padding-top: 0px;
    content: "";
    display: inline-block;
    border-top: 1px solid #000;
    width: 12em;
    vertical-align: text-bottom;
    margin: 10px;
  }

  /* отступ строчек */
.selector {
    line-height: 3;
  }
/* иконка на кнопки */
.icon_btn_facebook {
  background: #255A9B;
  background-image: url(/facebook.svg);
}

.icon_btn_linkedin {
  background: #0076B6;
  background-image: url(/linkedin.svg);
}
/* динамика кнопок */
  button.social-signin {
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: 6% 50%;
    margin-bottom: 30px;
    width: 230px;
    height: 33px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-weight: 0;
    margin-right: 30px;
    margin-left: 0px;
    transition: 0.2s ease;
    cursor: pointer;
  }
  /* динамика кнопок */
  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  /* динамика кнопок */
  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
/* круглые-кнопки подсказки */
  .round-button{
    background: transparent;
    color: white;
    font-size: 10px;
    align-items: center;
    border: 0.5px solid #808080;
    color: #808080;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    padding: 0!important;
    margin: 0;
    line-height: 1;
  }

  .inputspace{
    margin-left: 30px;
  }



  .radio-label {
    padding-right: 30px;
  }

/* кнопка отправка формы  */
.colorBtn {
    margin-top: 40px;
    width: 210px;
    height: 33px;
    
    border: 2px solid transparent;
    background: #3799fb;
    border-radius: 3px;
    color: #FFF;
    
}
/* Цвет ссылки */
.element {
  color:#3799fb ;
}