
/* Шрифт */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url('/barlow/Barlow-Regular.otf') format('truetype');
}

body {
  font-family: "Barlow", sans-serif;
}
/* цвета элементов */
:root{
  --or_line_color: #000;
  --facebook_button_color: #255A9B;
  --linkedin_button_color: #0076B6;
  --buttons_font_color: #FFF;
  --submit_button_color: #3799fb;
  --gray_color: #808080;
}



/* форматирование полей ввода */
.form-row {
    width: 20%; 
    float: inline-start;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Заголовок */
.heading{
  font-size: 20px;
  padding-top: 80px;
  font-weight: 00;
}
/* Подзаголовок */
.subheading{
  padding-bottom: 40px;
  font-weight: normal; 
    font-size: medium;
}

/* Фоновая картинка */
.leftPhoto {
    float: left;
    margin: 4px 10px 2px 0px;
}
/* форматирование легенды */
.type_investors { 
    font-size: 20px;
}
/* обтекание картинки текстом */
.float_text{
  float: left;
  /* word-wrap: keep-all; */
  overflow-wrap: normal;
}

/* форматирование для or */
.with-line {
    display:contents;
  }
  
  .with-line:before,
  .with-line:after {
    padding-top: 0px;
    padding-bottom: 0px;
    content: "";
    display: inline-block;
    border-top:1px solid var(--or_line_color);
    width: 12em;
    vertical-align: text-bottom;
    margin: 10px;
  }

  /* отступ строчек */
.selector {
    line-height: 4;
  }
/* иконка на кнопки */
.icon_btn_facebook {
  background: var(--facebook_button_color);
  background-image: url(/facebook.svg);
}

.icon_btn_linkedin {
  background: var(--linkedin_button_color);
  background-image: url(/linkedin.svg);
}
/* динамика кнопок */
  button.social-signin {
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: 6% 50%;
    margin-bottom: 30px;
    width: 230px;
    height: 33px;
    border: none;
    border-radius: 2px;
    color: var(--buttons_font_color);
    font-weight: 0;
    margin-right: 30px;
    margin-left: 0px;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
  /* динамика кнопок */
  button.social-signin:hover,
  button.social-signin:focus {
    -webkit-box-shadow: 0 2px 4px var(--gray_color);
            box-shadow: 0 2px 4px var(--gray_color);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  /* динамика кнопок */
  button.social-signin:active {
    -webkit-box-shadow: 0 1px 2px var(--gray_color);
            box-shadow: 0 1px 2px var(--gray_color);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
/* круглые-кнопки подсказки */
  .round-button{
    background: transparent;
    color: var(--buttons_font_color);
    font-size: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.5px solid var(--gray_color);
    color: var(--gray_color);
    width: 14px;
    height: 14px;
    border-radius: 7px;
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .radio-label {
    padding-right: 30px;
  }

/* кнопка отправка формы  */
.colorBtn {
    margin-top: 40px;
    width: 210px;
    height: 33px;
    border: 2px solid transparent;
    background: var(--submit_button_color);
    border-radius: 3px;
    color: var(--buttons_font_color);  
}
/* Цвет ссылки */
.element {
  color: var(--submit_button_color) ;
}